﻿@model ShedulesEditModel
@{
    ViewData["Title"] = "Редактирование расписания";
}

<div class="card w-100 bg-light mb-3">
    <div class="card-header bg-secondary text-white">
        <h4 class="m-0">@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <form asp-action="EditShedule">
            <div class="text-success">@ViewData["Message"] @TempData["Message"]</div>
            <div class="text-danger">@ViewData["ErrorMessage"] @TempData["ErrorMessage"]</div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class="form-control select_update" asp-items="ViewBag.GroupId"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control select_update" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table class="table text-center rounded-circle table-bordered m-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название</th>
                            <th scope="col">Кабинет</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i <= 5; i++)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <th scope="row"><input asp-for="Shedules[i].Name" class="form-control" /></th>
                                <th scope="row"><input asp-for="Shedules[i].Cabinet" class="form-control" /></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать/Обновить" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>

</div>
@section Scripts {
    <script>
        $(function () {
            $('.select_update').on('change', function () {
                window.location.search = new URLSearchParams({
                    "groupId": $("#GroupId").val(),
                    "date": $("#Date").val()
                });
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}


