﻿@model GroupEditModel
@{
    ViewData["Title"] = "Редактирование групп";
}

<div class="card w-100 bg-light mb-3">
    <div class="card-header bg-secondary text-white">
        <h4 class="m-0">@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <form asp-action="EditGroup">
            <div class="text-success">@ViewData["Message"] @TempData["Message"]</div>
            <div class="text-danger">@ViewData["ErrorMessage"] @TempData["ErrorMessage"]</div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class="form-control select_update" asp-items="ViewBag.Id"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать/Обновить" class="btn btn-primary btn-block" />
            </div>
            <div class="form-group">
                <input formaction="DeleteGroup" type="submit" value="Удалить группу" class="btn btn-danger btn-block" />
            </div>
        </form>
    </div>

</div>
@section Scripts {
    <script>
        $(function () {
            $('.select_update').on('change', function () {
                window.location.search = new URLSearchParams({
                    "groupId": $("#Id").val()
                });
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}


