﻿@model IEnumerable<SheduleViewModel>

@{
    ViewData["Title"] = "Расписание";

    string GetStringForDate(DateTime date)
    {
        return date.ToString("dd.MM.yyyy ddd", System.Globalization.CultureInfo.CreateSpecificCulture("ru-RU"));
    }
}

<div class="card w-100 bg-light mb-3">
    <div class="card-header bg-secondary text-white">
        <h4 class="m-0">@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <label>Группа</label>
                <select id="group" class="form-control select_update" asp-items="ViewBag.GroupId"></select>
            </div>
        </div>
        <div class="table-responsive-xl bg-white">
            <table class="table text-center rounded-circle table-bordered m-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">@GetStringForDate(Model.ElementAt(0).Date)</th>
                        <th scope="col">@GetStringForDate(Model.ElementAt(1).Date)</th>
                        <th scope="col" class="text-primary">@GetStringForDate(Model.ElementAt(2).Date)</th>
                        <th scope="col">@GetStringForDate(Model.ElementAt(3).Date)</th>
                        <th scope="col">@GetStringForDate(Model.ElementAt(4).Date)</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i <= 5; i++)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            @foreach (var item in Model)
                            {
                                <td>@item.Shedules[i].Name <span class="badge badge-pill bg-light">@item.Shedules[i].Cabinet</span></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('.select_update').on('change', function () {
                window.location.search = new URLSearchParams({
                    "groupId": $("#group").val()
                });
            });
        });
    </script>
}